<mat-form-field class="example-chip-list">
  <mat-label>Favorite Users</mat-label>
  <mat-chip-grid #chipGrid aria-label="Enter users">
    @for (user of users(); track user) {
    <mat-chip-row
      [ngClass]="{ 'invalid-email shake': !(user.email | isEmailValid)}"
      (removed)="remove(user)"
      [editable]="true"
      (edited)="edit(user, $event)"
      [aria-description]="'press enter to edit ' + user.name"
    >
      {{user.name}}
      <button matChipRemove [attr.aria-label]="'remove ' + user.name">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    }

    <input
      name="currentUser"
      placeholder="New User..."
      #userInput
      [(ngModel)]="currentUser"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      @for (user of filteredUsers(); track user) {
      <mat-option [value]="user">{{user.name}}</mat-option>
      }
    </mat-autocomplete>
  </mat-chip-grid>
</mat-form-field>

<br>

<button (click)="clearText()">Clear</button>

<br>

<pre>
  {{currentUser() | json}}
</pre>

<br>

<pre>
  {{users() | json}}
</pre>

<!-- Copyright 2024 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
